target/
.idea/
*.iml
/KafkaPingPonger/.mvn/
/keycloak-db/*


contract-analyzer-frontend/node_modules

contract-analyzer-frontend/.pnp
contract-analyzer-frontend/.pnp.js

contract-analyzer-frontend/build
contract-analyzer-frontend/coverage


