.App {
    text-align: center;
}

* {
    border-radius: 0 !important;
    border: none !important;
    text-decoration: none !important;
}

.navigation{
    padding: 10px;
    background-color: #6c7ac9;
    color: #6c7ac9;

}

.brand{
    color: #4f346a;
    background-color: darkseagreen;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
}

.brandSmall{
    color: black;
    background-color: white;
    padding: 1rem;
    font-size: small;
    font-weight: bold;
}

.button {
    color: #4f346a !important
}

.logoutButton {
    color: salmon !important;
    text-align: right !important;

}

.paginator  {
    text-align: center !important;
    color: #4f346a;
    background-color: darkseagreen;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
}


.resetButton {
    color: salmon;
    background-color: #6c7ac9;
}

.resetButton:hover {
    background-color: salmon;
    color: #6c7ac9;
}

.report-wrapper {
    max-width: 500px;
    text-align: left;
    border-radius: 10px;
    justify-content: left;
}

.text-link {
    text-decoration: none;
}

.reportPassed {
    color: green;
    /*background-color: darkseagreen;*/
    padding: 1rem;
    font-size: small;
    text-decoration: none !important;
}


.reportFailed {
    color: red;
    /*background-color: darkseagreen;*/
    padding: 1rem;
    font-size: small;
    text-decoration: none !important;
}

input[type="text"]{
    background-color: white;
    border: none;
}

input[type=text]:focus{
    background-color: aquamarine;
    border: none;
}

.reportTable {
    width: 100%;
    border-color: black;
}


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.pagination a {
    padding: 3px;
    color: salmon;
    text-decoration: none;
    background-color: #6c7ac9;
}

.pagination__link {
    font-weight: bold;
}

.pagination__link--active a {
    font-weight: bold;
    color: salmon;
    background: aqua;
}

.pagination__link--disabled a {
    color: salmon;
    /*border: 1px solid rgb(198, 197, 202);*/
}