.label {
    padding: 8px;
    margin: 1px;
    background-color: gray;
    color: #4f346a;
}

.input {
    width: 30%;
}

.form {
    background-color: darkseagreen;
}

.reportPassed {
    color: green;
    /*background-color: darkseagreen;*/
    padding: 1rem;
    font-size: small;
    text-decoration: none !important;
}


.reportFailed {
    color: red;
    /*background-color: darkseagreen;*/
    padding: 1rem;
    font-size: small;
    text-decoration: none !important;
}